{% extends base_template %}
{% load static tethys_gizmos %}

{% block app_navigation_items %}
  <p style="margin-bottom: 5px;"><b>Existing Users:</b></p>
  <p>Any number of existing Tethys Portal users to add as users of this app.</p>
  <li class="nav-item separator"></li>
  <p style="margin-bottom: 5px;"><b>Role:</b></p>
  <p>The role assigned to a user determines which features that user can access.</p>
  <li class="nav-item separator"></li>
  <p style="margin-bottom: 5px;"><b>Organizations:</b></p>
  <p>Users have access to the projects of the organizations to which they belong.</p>
{% endblock %}

{% block app_content %}
  <div class="row">
    <div class="col-md-4">
      <h1>Add Existing Users</h1>
      <form id="add-existing-user-form" method="post" action="">
        {% csrf_token %}
        {% gizmo select_input portal_users_select %}
        {% gizmo select_input role_select %}
        <div id="organization-select-wrapper">
          {% gizmo select_input organization_select %}
        </div>

        <a class="btn btn-outline-secondary" href="{% url next_controller %}">Cancel</a>
        <input type="submit" class="btn btn-success" name="add-existing-user-submit" value="Add Users">
      </form>
    </div>
  </div>
  <div id="app-users-attributes"
       data-no-organization-roles="{{ no_organization_roles|jsonify }}"></div>
{% endblock %}

{% block styles %}
  {{ block.super }}
  <link href="{% static 'atcore/app_users/css/app_users.css' %}" rel="stylesheet"/>
{% endblock %}

{% block scripts %}
  {{ block.super }}
  <script src="{% static 'atcore/app_users/js/hide_organization_if_admin.js' %}" type="text/javascript"></script>
{% endblock %}