{% extends base_template %}
{% load staticfiles tethys_gizmos %}

{% block app_content %}
  <div class="top-action-buttons pull-right">
    {% if show_new_button %}
    <a class="btn btn-default manage-action-btn btn-new" href="{% url tethys_app.namespace|add:':app_users_add_user' %}" data-toggle="tooltip" data-placement="bottom" title="New"><span class="glyphicon glyphicon-plus"></span></a>
    {% endif %}
    {% if show_add_existing_button %}
    <a class="btn btn-default manage-action-btn btn-import" href="{% url tethys_app.namespace|add:':app_users_add_existing_user' %}" data-toggle="tooltip" data-placement="bottom" title="Existing"><span class="glyphicon glyphicon-import"></span></a>
    {% endif %}
  </div>
  <h1>{{ page_title|default:'User Accounts' }}</h1>
  {% if user_cards %}
  {% include "atcore/pagination_template.html" with pagination_info=pagination_info where="header" %}
  {% endif %}
  <table class="table table-striped table-condensed">
    <tr>
      <th>Full Name / Username</th>
      <th>Active</th>
      <th>Role</th>
      <th>Organizations</th>
      {% if show_action_buttons %}
      <th></th>
      {% endif %}
    </tr>
    {% for user_card in user_cards %}
    <tr>
      <td>{{ user_card.fullname }}</td>
      <td><span class="manage-tag activity-tag">{% if user_card.active %}Yes{% else %}No{% endif %}</span></td>
      <td><span class="manage-tag role-tag">{{ user_card.role }}</span></td>
      <td>
        {% for organization in user_card.organizations %}
        <a href="{% url tethys_app.namespace|add:':app_users_edit_organization' organization.id %}?next=manage-users"><span class="manage-tag organization-tag">{{ organization.name }}</span></a>
        {% endfor %}
      </td>
      {% if show_action_buttons %}
      <td>
        <div class="pull-right">
          {% if user_card.editable %}
            <a class="btn btn-default btn-edit" href="{% url tethys_app.namespace|add:':app_users_edit_user' user_id=user_card.id %}" data-toggle="tooltip" data-placement="top" title="Edit"><span class="glyphicon glyphicon-edit"></span></a>
            <a class="btn btn-default btn-delete-manage btn-delete" href="javascript:void(0);" data-id="{{ user_card.id }}" data-toggle="tooltip" data-placement="top" title="Delete"><span class="glyphicon glyphicon-trash"></span></a>
          {% endif %}
          {% if show_remove_button %}
            <a class="btn btn-default btn-remove-user btn-remove" href="javascript:void(0);" data-id="{{ user_card.id }}" data-toggle="tooltip" data-placement="top" title="Remove"><span class="glyphicon glyphicon-remove"></span></a>
          {% endif %}
        </div>
      </td>
      {% endif %}
    </tr>
    {% empty %}
    <tr><td colspan="4"><b>There are no users.</b></td></tr>
    {% endfor %}
  </table>
  {% if user_cards %}
  {% include "atcore/pagination_template.html" with pagination_info=pagination_info where="footer" %}
  {% endif %}

{% endblock %}

{% block after_app_content %}
  {% csrf_token %}
  <!-- Delete Modal -->
  <div class="modal fade" id="delete-modal" tabindex="-1" role="dialog" aria-labelledby="delete-modal-label">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
          <h4 class="modal-title" id="delete-modal-label">Delete User</h4>
        </div>
        <div class="modal-body">
          Are you sure you want to delete this user? This action cannot be undone.
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
          <a id="modal-delete-button" class="btn btn-danger btn-delete-modal" href="javascript:void(0);" data-delete-type="users">Delete</a>
        </div>
      </div>
    </div>
  </div>

  <!-- Remove Modal -->
  <div class="modal fade" id="remove-modal" tabindex="-1" role="dialog" aria-labelledby="remove-modal-label">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
          <h4 class="modal-title" id="remove-modal-label">Remove User</h4>
        </div>
        <div class="modal-body">
          Are you sure you want to remove the user from this app? This action cannot be undone.
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
          <a id="modal-remove-button" class="btn btn-danger btn-delete-modal" href="javascript:void(0);" data-delete-type="users">Remove</a>
        </div>
      </div>
    </div>
  </div>
{% endblock %}

{% block styles %}
  {{ block.super }}
  <link href="{% static 'atcore/app_users/css/app_users.css' %}" rel="stylesheet"/>
  <link href="{% static 'atcore/css/flex.css' %}" rel="stylesheet"/>
{% endblock %}

{% block scripts %}
  {{ block.super }}
  <script src="{% static 'atcore/js/csrf.js' %}"></script>
  <script src="{% static 'atcore/app_users/js/app_users.js' %}"></script>
{% endblock %}