/* This parent can be any width and height */
.center-parent {
  text-align: center;
  /* The ghost, nudged to maintain perfect centering */
}
.center-parent:before {
  content: '';
  display: inline-block;
  height: 50%;
  vertical-align: middle;
  margin-right: -0.25em;
  /* Adjusts for spacing */
}
/* The element to be centered, can also be of any width and height */
.centered {
  display: inline-block;
  vertical-align: middle;
}