[data-ts-toggle="table-row-collapse"] {
    display: inline-block;
    font-weight: 400;
    line-height: 1.5;
    color: #212529;
    text-align: center;
    text-decoration: none;
    vertical-align: middle;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    user-select: none;
    background-color: transparent;
    border: 1px solid transparent;
    margin-right: 3px;
    padding: 0.05rem 0.15rem;
    font-size: 0.875rem;
    border-radius: 0.2rem;
}

[data-ts-toggle="table-row-collapse"]:hover {
    background-color: #b1b1b1;
}

[data-ts-toggle="table-row-collapse"] .bi::before {
    transition: transform 0.15s ease-in-out;
}

[data-ts-toggle="table-row-collapse"].rotate-90 .bi::before {
    transform: rotate(90deg);
}