{% if node.type == 'folder' %}
<!-- Add directories to the viewport -->
<tr class="viewport_item" data-parentslug="{{ node.parent_slug }}" data-slug="{{ node.slug }}">
    <td>
        <span class="glyphicon glyphicon-folder-open"
              data-isselected="false" data-filepath="{{ collection_id }}{{ node.path }}">
            {{ node.name }}
        </span>
    </td>
    <td>{{ node.date_modified }}</td>
    <td>-</td>
</tr>
    <!-- Loop through all the directory children -->
    {%for ch in node.children %}
        {%with node=ch template_name="atcore/resources/tabs/files_viewport_template.html" %}
            {%include template_name%}
        {%endwith%}
    {%endfor%}
{% else %}
<!-- Add Files to the Viewport -->
<tr class="viewport_item" data-parentslug="{{ node.parent_slug }}" data-slug="{{ node.slug }}">
    <td>
        <span class="glyphicon glyphicon-file"
              data-isselected="false" data-filepath="{{ collection_id }}{{ node.path }}">
            {{ node.name }}
        </span>
    </td>
    <td>{{ node.date_modified }}</td>
    <td>{{ node.size }}</td>
</tr>
{% endif %}