{% load static %}
{% widthratio 12 columns|length 1 as column_width %}

<!-- Tree View of Folders -->
<div class="row", id="file_browser">
    <div class="col-md-3 tree-col">
        <div id="hierarchy">
            {% for collection_id, collection_contents in collections.items %}
            <div class="foldercontainer">
                <span class="folder glyphicon glyphicon-folder-open" data-isexpanded="true"
                      data-isselected="false" data-parentslug="{{ collection_contents.parent_slug }}"
                      data-slug="{{ collection_contents.slug }}"
                      data-filepath="{{ collection_contents.path }}">
                    {{ collection_id }}
                </span>
                {%for node in collection_contents.children %}
                    {%include "atcore/resources/tabs/tree_view_template.html" %}
                {%endfor%}
            </div>
            {% endfor %}
        </div>
    </div>

    <!-- File List View -->
    <div class="col-md-9 preview-col">
        <!-- Current Path -->
        <div class="row">
            <div class="input-group">
                <input id="filepath_input" type="text" class="form-control" placeholder=""
                       readonly>
            </div>
        </div>
        <div class="files_viewport">
            <table class="table table-hover">
                <thead>
                    <tr>
                        <th>Name</th>
                        <th>Date Modified</th>
                        <th>Size</th>
                    </tr>
                </thead>
                <tbody>
                {% for collection_id, collection_contents in collections.items %}
                    {%for node in collection_contents.children %}
                        {%include "atcore/resources/tabs/files_viewport_template.html" %}
                    {%endfor%}
                {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
</div>