{% if node.type == 'folder' %}
<div class="foldercontainer">
    <span class="folder glyphicon glyphicon-folder-open" data-isexpanded="true"
          data-parentslug="{{ node.parent_slug }}"
          data-slug="{{ node.slug }}" data-isselected="false"
          data-filepath="{{ node.path }}">
        {{ node.name }}
    </span>
    {%for ch in node.children %}
        {%with node=ch template_name="atcore/resources/tabs/tree_view_template.html" %}
            {%include template_name%}
        {%endwith%}
    {%endfor%}
</div>
{% endif %}