*.pydevproject
*.project
*.egg-info
*.class
*.pyo
*.pyc
*.db
*.sqlite
*.DS_Store
*.idea
*.coverage
build
dist
working_dir
tethysext/atcore/tests/files/file_database_tests/temp
tethysext/atcore/tests/files/file_collection_tests/temp