*.pydevproject
*.project
*.egg-info
*.class
*.pyo
*.pyc
*.db
*.sqlite
*.DS_Store
*.idea
*.vscode
*.coverage
build
dist
working_dir
test_local.sh
tethysext/atcore/tests/files/file_collection_client_tests/temp/*
tethysext/atcore/tests/files/file_database_client_tests/temp/*
docs/build
docs/source/_autosummary
