{% extends "atcore/map_view/map_view.html" %}
{% load tethys_gizmos staticfiles %}

{# OVERRIDE DEFAULT ACTIVE TAB #}
{% block disable_default_tab %}{% endblock %}
{% block disable_default_tab_panel %}{% endblock %}

{% block custom_map_tabs %}
  {# WORKFLOW TAB #}
  <li role="presentation" class="active">
    <a id="workflow-tab-toggle"
       href="#workflow-tab-panel"
       aria-controls="workflow-tab-panel"
       role="tab"
       data-toggle="tab">Workflow</a>
  </li>
{% endblock %}

{% block custom_map_tab_panels %}
  {# WORKFLOW TAB PANEL #}
  <div role="tabpanel" class="tab-pane active" id="workflow-tab-panel">
    <ul class="workflow-steps">
      {% for step in steps %}
      <li>
        <a class="workflow-step {% if step.id == current_step.id %}active {% endif %}workflow-step-{{ step.status }}"
           title="{{ step.help }}"
           {% if step.link %}href="{% url url_map_name resource.id workflow.id step.id %}"{% endif %}>
          {% if step.status == 'pending' %}
          <i class="far fa-circle"></i>
          {% elif step.status == 'complete' %}
          <i class="fas fa-check-circle"></i>
          {% elif step.status == 'error' %}
          <i class="fas fa-times-circle"></i>
          {% else %}
          <i class="fas fa-question-circle"></i>
          {% endif %}
          <span class="workflow-step-title">{{ step.name }}</span>
        </a>
      </li>
      {% endfor %}
    </ul>
  </div>
{% endblock %}

{% block map %}
  <form id="map-workflow-form" class="map-form" method="post" enctype="multipart/form-data">
    {% csrf_token %}
    <input name="method" value="save-step-data" hidden>
    {{ block.super }}
  </form>
{% endblock %}

{% block app_actions %}
  {% if allow_shapefile %}
  <button type="button" class="btn btn-default btn-shapefile" data-toggle="modal" data-target="#shapefile-upload-modal">
    Upload Shapefile
  </button>
  {% endif %}

  {% if previous_step %}
  <a class="btn btn-default btn-previous" href="{% url url_map_name resource.id workflow.id previous_step.id %}">Previous</a>
  {% endif %}

  {% if next_step %}
  <button class="btn btn-default btn-next" type='submit' form="map-workflow-form">Next</button>
  {% endif %}
  {{ block.super }}
{% endblock %}

{% block scripts %}
  {{ block.super }}
  <script src="{% static 'atcore/file_input/js/file_input.js' %}" type="text/javascript"></script>
{% endblock %}

{% block content_dependent_styles %}
  {{ block.super }}
  <link href="{% static 'atcore/resource_workflows/atcore_map_workflow.css' %}" rel="stylesheet"/>
  <link href="{% static 'atcore/file_input/css/file_input.css' %}" rel="stylesheet"/>
{% endblock %}

{% block after_app_content %}
  {% if allow_shapefile %}
  <!-- Shapefile Modal -->
  <div class="modal fade" id="shapefile-upload-modal" tabindex="-1" role="dialog" aria-labelledby="shapefile-upload-modal-label">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
          <h4 class="modal-title" id="shapefile-upload-modal-label">Upload Shapefile</h4>
        </div>
        <div class="modal-body">
          <p>Select all of the files for the shapefile you'd like to upload and create a zip archive. Then use the <b>Browse</b> button below to select the zip archive.</p>
          <form id="shapefile-upload-form" method="post" enctype="multipart/form-data">
            <div class="input-file-wrapper">
              {% csrf_token %}
              <input name="method" value="save-step-data" hidden>
              <input id="shapefile-upload" name="shapefile" class="file-input" type="file" accept=".zip">
              <label for="shapefile-upload" class="btn btn-default btn-file-input">Browse</label>
            </div>
          </form>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
          <button type="submit" class="btn btn-success" form="shapefile-upload-form">Upload Shapefile</button>
        </div>
      </div>
    </div>
  </div>
  {% endif %}
{% endblock %}