{% extends "atcore/resource_workflows/map_workflow_view.html" %}
{% load tethys_gizmos static %}

{% block app_actions %}
  {% if allow_shapefile %}
  <button type="button" class="btn btn-light btn-shapefile" data-bs-toggle="modal" data-bs-target="#shapefile-upload-modal">
    Upload Shapefile
  </button>
  {% endif %}

  {{ block.super }}
{% endblock %}

{% block scripts %}
  {{ block.super }}
  <script src="{% static 'atcore/file_input/js/file_input.js' %}" type="text/javascript"></script>
  <script src="{% static 'atcore/resource_workflows/spatial_input_mwv.js' %}" type="text/javascript"></script>
{% endblock %}

{% block content_dependent_styles %}
  {{ block.super }}
  <link href="{% static 'atcore/file_input/css/file_input.css' %}" rel="stylesheet"/>
  <link href="{% static 'atcore/resource_workflows/spatial_input_mwv.css' %}" rel="stylesheet"/>
{% endblock %}

{% block after_app_content %}
  {{ block.super }}
  {% if allow_shapefile %}
  {# Shapefile Modal #}
  <div class="modal fade" id="shapefile-upload-modal" tabindex="-1" role="dialog" aria-labelledby="shapefile-upload-modal-label">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h4 class="modal-title" id="shapefile-upload-modal-label">Upload Shapefile</h4>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
          <p>Select all of the files for the shapefile you'd like to upload and create a zip archive. Then use the <b>Browse</b> button below to select the zip archive.</p>
          <div class="input-file-wrapper">
            <input id="shapefile-upload" name="shapefile" class="file-input" type="file" accept=".zip" form="workflow-form">
            <label for="shapefile-upload" class="btn btn-outline-secondary btn-file-input">Browse</label>
          </div>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-outline-secondary" data-bs-dismiss="modal">Cancel</button>
          <button type="submit" class="btn btn-success" form="workflow-form">Upload Shapefile</button>
        </div>
      </div>
    </div>
  </div>
  {% endif %}

  {# Attributes Form #}
  {% if attributes_form %}
  <div id="spatial-attributes-template">
    <form class="spatial-attributes-form">
      <div class="form-group has-error">
        <p class="help-block spatial-attributes-error"></p>
      </div>
      {% csrf_token %}
      {{ attributes_form }}
    </form>
    <a class="btn btn-outline-secondary spatial-attributes-ok" href="javscript:void(0)">Save</a>
  </div>
  {% endif %}

  {# MAP ATTRIBUTES #}
  <div id="atcore-spatial-input-attributes"
       data-allow-edit-attributes="{{ allow_edit_attributes|jsonify }}"
       style="display: none;"
  ></div>
{% endblock %}