/********************************************************************************
 * Name: flat_map.css
 * Author: nswain
 * Created On: October 19, 2018
 * Copyright: (c) Aquaveo 2018
 * License:
 ********************************************************************************/
/* Controls */
.ol-control {
    background-color: #efefef;
    border-radius: 5px;
    padding: 0;
}

.ol-control:hover {
    background-color: #efefef;
}

.ol-control button {
    color: #666666;
    background-color: #efefef;
    height: 2.25em;
    width: 2.25em;
    margin: 0;
    border-radius: 5px;
}

.ol-control button:focus,
.ol-control button:hover {
    background-color: #cccccc;
    outline-color: transparent;
}

.tethys-map-view-draw-control {
    top: auto;
    bottom: 7px!important;
}

div.tethys-map-view-draw-control:nth-of-type(1) {
    top: 500px!important;
}

/* Control Positions */
.ol-attribution {
    bottom: 0.5em;
    right: 0.5em;
    top: auto;
}

.ol-attribution:not(.ol-collapsed) {
    background: #efefef;
}

.ol-rotate {
    top: 3.75em;
}

.ol-zoom {
  background: #666666;
}

.ol-zoom:hover {
  background: #666666;
}

.ol-zoom .ol-zoom-in {
    border-radius: 5px 5px 0 0;
    margin-bottom: 2.25em;
}

.ol-zoom .ol-zoom-out {
    border-radius: 0 0 5px 5px;
}

.ol-zoom-extent {
    top: 3.15em;
    border-radius: 0;
}

.ol-zoom-extent button {
    border-radius: 0;
    height: 2.15em;
}

#basemap_dropdown_container {
    top: 0.5em;
    left: 4em;
    padding: 0;
    border-radius: 5px;
    background-color: #efefef;
}

#basemap_dropdown_container button {
    height: 2.25em;
    padding: 0 0.75em;
    font-size: 1.14em;
    font-weight: 700;
    color: #666666;
    background-color: #efefef;
    line-height: 0.4em;
    border-radius: 5px;
    border: none;
}

#basemap_dropdown_container .dropdown-menu {
    background-color: #efefef!important;
    color: #666666!important;
}

.basemap-option:hover {
    background-color: #666666;
}