{% extends "atcore/base.html" %}
{% load tethys_gizmos staticfiles %}

{% block app_navigation_items %}
  {% block nav_header %}
  {# HEADER #}
  <div id="nav-header">
    {# BACK BUTTON #}
    {% block back_button %}
      <div id="back-button">
        <a href="{{ back_url }}" title="Back">
          <span class="glyphicon glyphicon-chevron-left"></span>
        </a>
      </div>
    {% endblock %}

    {# TITLE #}
    {% block nav_title %}
      <div id="nav-title">
        <p class="title">{{ nav_title }}</p>
        {% if nav_subtitle %}
        <p class="subtitle">{{ nav_subtitle }}</p>
        {% endif %}
      </div>
    {% endblock %}
  </div>
  {% endblock %}
{% endblock %}


{% block content_dependent_styles %}
  {{ block.super }}
  <link href="{% static 'atcore/css/wide_nav.css' %}" rel="stylesheet"/>
  <link href="{% static 'atcore/css/nav_header.css' %}" rel="stylesheet"/>
{% endblock %}