{% extends base_template %}
{% load static tethys_gizmos %}

{% block app_navigation_items %}
<li class="nav-item"><a class="nav-link" href="{{ back_url }}"><span class="bi bi-chevron-left"></span> {{ resource.DISPLAY_TYPE_PLURAL }}</a></li>
{% endblock %}

{% block app_content %}
{% for message in messages %}
  <div class="alert {% if message.tags %}{{ message.tags }}{% endif %} alert-dismissible" role="alert">
    <button type="button" class="btn-close" data-bs-dismiss="alert">
      <span class="sr-only">Close</span>
    </button>
    {{ message }}
  </div>
{% endfor %}
<h1>{{ resource.name }}</h1>
<!-- Tabs -->
<ul class="nav nav-tabs" role="tablist">
  {% for tab in tabs %}
  <li role="presentation" class="lazy-load-tab"
      data-callback="{{ tab.view.post_load_callback }}">
    <a href="#{{ tab.slug }}"
       aria-controls="tab.slug"
       role="tab"
       class="nav-link"
       data-bs-toggle="tab">{{ tab.title }}</a>
  </li>
  {% endfor %}
</ul>

<!-- Tab panes -->
<div class="tab-content">
  {% for tab in tabs %}
  <div role="tabpanel" class="tab-pane" id="{{ tab.slug }}">
    <div class="center-parent">
      <img src="{% static 'atcore/images/loading.gif' %}" class="loading-gif centered">
    </div>
  </div>
  {% endfor %}
</div>

<div id="lazy-load-config" data-active-tab="{{ active_tab }}"></div>

{% endblock %}

{% block app_actions %}
{% endblock %}

{% block flash %}
{% endblock %}

{% block after_app_content %}
  {% for tab in tabs %}
    {% for modal_template in tab.view.modal_templates %}
      {% include modal_template %}
    {% endfor %}
  {% endfor %}
{% endblock %}

{% block styles %}
  {{ block.super }}
  {% for css_requirement in css_requirements %}
      {% if 'http' in css_requirement %}
        <link href="{{ css_requirement }}" rel="stylesheet">
      {% else %}
        <link href="{% static css_requirement %}" rel="stylesheet">
      {% endif %}
  {% endfor %}
{% endblock %}

{% block scripts %}
  {{ block.super }}
  {% for js_requirement in js_requirements %}
      {% if 'http' in js_requirement %}
        <script src="{{ js_requirement }}" type="text/javascript"></script>
      {% else %}
        <script src="{% static js_requirement %}" type="text/javascript"></script>
      {% endif %}
  {% endfor %}
{% endblock %}
