<div class="col-xs-9 nopadding" id="openLayerMap{{ forloop.counter }}" style="width:700px; height:600px;"></div>
<script>
  let wmsSource = new ol.source.ImageWMS({url: '{{ map_layer.options.url|safe }}',
                                          params: {{ map_layer.options.params|safe }},
                                          ratio: 1,
                                          serverType: 'geoserver',
                                        })
  maps[{{ forloop.counter }}] = new ol.Map({
        interactions: ol.interaction.defaults({mouseWheelZoom:false}),
        controls: [],
        layers: [
          new ol.layer.Tile({
            source: new ol.source.XYZ({
              attributions:
                'Tiles © <a href="https://services.arcgisonline.com/ArcGIS/' +
                'rest/services/World_Imagery/MapServer">ArcGIS</a>',
              url:
                'https://server.arcgisonline.com/ArcGIS/rest/services/' +
                'World_Imagery/MapServer/tile/{z}/{y}/{x}',
            }),
          }),
          new ol.layer.Image({
            source: wmsSource,
          }),
        ],
        target: 'openLayerMap{{ forloop.counter }}',
        view: new ol.View({
          center: ol.proj.fromLonLat([({{map_layer.legend_extent.0}} + {{map_layer.legend_extent.2}})/2, ({{map_layer.legend_extent.1}} + {{map_layer.legend_extent.3}})/2]),
          zoom: 12,
        }),
      });
  // let graphicUrl = wmsSource.getLegendUrl(1);
  // let img = document.getElementById('openLayerMapLegend{{ forloop.counter }}')
  // img.src = graphicUrl
  // console.log(ol.proj.toLonLat(maps[{{ forloop.counter }}].getView().calculateExtent(maps[{{ forloop.counter }}].getSize())));
  // maps[{{ forloop.counter }}].getView().fit({{map_layer.legend_extent}}, maps[{{ forloop.counter }}].getSize());
</script>