<div class="col-xs-8 nopadding" id="openLayerMap{{ forloop.counter }}" class='map-view-result'></div>
<div class="col-xs-4" id="legend-{{ legend.legend_id }}" style="width:220px;">
  <li class="legend-group-item">
    <label class="flatmark"><span class="display-name">{{ legend.title|title }}</span>
    </label>
  </li>
  <ul class="legend-list" data-collapsed="false">
    {% for value, color in legend.divisions.items  %}
      <div class="legend-item">
        <li class="legend-list-item">
          <p>{{ value }} </p>
          <div class="color-box" style="background-color: {{ color }} !important;"></div>
        </li>
      </div>
    {% endfor %}
  </ul>
</div>
<script>
  let wmsSource = new ol.source.ImageWMS({url: '{{ map_layer.options.url|safe }}',
                                          params: {{ map_layer.options.params|safe }},
                                          ratio: 1,
                                          serverType: 'geoserver',
                                        })
  maps[{{ forloop.counter }}] = new ol.Map({
        interactions: ol.interaction.defaults({
          //mouseWheelZoom:false,
          //doubleClickZoom: false,
          //dragPan: false,
          //keyboardPan: false,
          //keyboardZoom: false,
          //select: false,
          //pointer: false,
        }),
        controls: ol.control.defaults().extend([new ol.control.ScaleLine({units: 'us',
                                                                          bar: true,
                                                                          steps: 4,
                                                                          minWidth: 140,
                                                                         }),
                                                new ol.control.Rotate({autoHide: false,
                                                                       tipLabel: 'North Up',
                                                }),
                                                ]),
        layers: [
           new ol.layer.Tile({
            source: new ol.source.XYZ({
              attributions:
                'Tiles © <a href="https://services.arcgisonline.com/ArcGIS/' +
                'rest/services/World_Imagery/MapServer">ArcGIS</a>',
              url:
                'https://server.arcgisonline.com/ArcGIS/rest/services/' +
                'World_Imagery/MapServer/tile/{z}/{y}/{x}',
            }),
          }),
          new ol.layer.Tile({
            source: new ol.source.XYZ({
              attributions:
                'Tiles © <a href="https://services.arcgisonline.com/ArcGIS/' +
                'rest/services/Reference/World_Boundaries_and_Places/MapServer">ArcGIS</a>',
              url:
                'https://server.arcgisonline.com/ArcGIS/rest/services/' +
                'Reference/World_Boundaries_and_Places/MapServer/tile/{z}/{y}/{x}',
            }),
          }),


          new ol.layer.Image({
            source: wmsSource,
          }),
        ],
        target: 'openLayerMap{{ forloop.counter }}',
        view: new ol.View({
          center: ol.proj.fromLonLat([({{map_layer.legend_extent.0}} + {{map_layer.legend_extent.2}})/2, ({{map_layer.legend_extent.1}} + {{map_layer.legend_extent.3}})/2]),
          zoom: 12,
        }),
      });
  // Find wms layer extent and fit the map to it.
  let extent = ol.proj.transformExtent({{map_layer.legend_extent}}, 'EPSG:4326', 'EPSG:3857');
  console.log(maps[{{ forloop.counter }}].getView().fit(extent, maps[{{ forloop.counter }}].getSize()));
</script>