{# WORKFLOW TAB PANEL #}
{% comment %}
Include to add the workflow tab content. Also include the workflow_tab.html to get the tab link.

Required Context Variables:
  resource(Resource): the resource the workflow belongs to/acts on.
  workflow(ResourceWorkflow): the workflow containing the steps that will be rendered.
  steps(list<dicts>): list of dictionaries containing metadata about each step in the given workflow.
  current_step(ResourceWorkflowStep): the current step.
  step_url_name(str): the name of the url pattern for the current step.

Required CSS:
  <link href="{% static 'atcore/css/nav_tabs.css' %}" rel="stylesheet"/>
  <link href="{% static 'atcore/app_users/css/resource_details.css' %}" rel="stylesheet" >
  <link href="{% static 'atcore/resource_workflows/workflows.css' %}" rel="stylesheet" >
{% endcomment %}

{% block workflow_tab_content %}
<div role="tabpanel" class="tab-pane active" id="workflow-tab-panel">
  <ul class="workflow-steps">
    {% for step in steps %}
    <li>
      <a class="workflow-step {% if step.id == current_step.id %}active {% endif %}workflow-status-{{ step.style }}{% if step.display_as_inactive %} workflow-status-inactive{% endif %}"
         title="{{ step.status|title }}"
         {% if step.link %}href="{% url step_url_name resource.id workflow.id step.id %}"{% endif %}>
        {% with lower_status=step.status.lower %}
          {% include "atcore/resource_workflows/components/status_icons.html" %}
        {% endwith %}
        <span class="workflow-step-title">{{ step.name }}</span>
        {% if step.show_lock %}
          {% if step.is_locked %}
          <span class="workflow-step-lock pull-right"><i class="fa fa-lock" aria-hidden="true" title="Locked"></i></span>
          {% else %}
          <span class="workflow-step-lock pull-right"><i class="fa fa-unlock" aria-hidden="true" title="Unlocked"></i></span>
          {% endif %}
        {% endif %}
      </a>
      {% if step.id == current_step.id and step.help %}
      <p class="help-block">{{ step.help }}</p>
      {% endif %}
    </li>
    {% endfor %}
  </ul>
</div>
{% endblock %}