.list-group-card-body {
    padding: 0;
}

.list-group-card-body .list-group {
    margin: -1px;
}

.list-group-card-body .list-group .list-group-item:first-child {
    border-top-left-radius: 0;
    border-top-right-radius: 0;
}