{% load static %}
{% widthratio 12 columns|length 1 as column_width %}

<div class="row">
  {% for column in columns %}
  <div class="col-md-{{ column_width }} summary-col">
    {% if forloop.first %}
      {# Preview Image #}
      {% if has_preview_image %}
      <div id="preview-map">
        <h6 class="resource-details table-header">{{ preview_image_title }}</h6>
        <table class="table">
          <tbody>
            <tr>
              <td class="map-preview">
                <img src="{% static 'atcore/images/loading2.gif' %}" class="loading-gif centered">
              </td>
            </tr>
          </tbody>
        </table>
      </div>
      {% endif %}
    {% endif %}

    {% for table_name, table in column %}
      {% if not forloop.last or user.is_staff %}
      <div>
        <h6 class="resource-details table-header">{{ table_name }}</h6>
        <table class="table table-hover">
          <tbody>
            {% for key, value in table.items %}
              <tr>
                <td class="name">{{ key }}</td>
                <td>{{ value }}</td>
              </tr>
            {% endfor %}
          </tbody>
        </table>
      </div>
      {% endif %}
    {% endfor %}
  </div>
  {% endfor %}
</div>