.btn {
    margin: 0;
}

#hierarchy
{
    font-family: "Courier New"!important;
}

.top-folder-container {
    overflow: auto;
    height: 545px;
}

.foldercontainer, .file, .noitems
{
    display: block;
    padding-left: 20px;
    text-wrap: nowrap;
}

.foldername {
    font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
    text-wrap: nowrap;
    pointer-events: none;
}

.folder[data-isselected="true"] {
    background: #c4c4c4;
}

.folder
{
    display: inline-block;
    border-radius: 5px;
    padding: 5px 10px;
    font-size: 15px;
}
.file
{
    color: green;
}
.folder, .file
{
    cursor: pointer;
}
.noitems
{
    display: none;
    pointer-events: none;
}
.folder:hover,.file:hover
{
    font-weight: bold;
}
.folder:before, .file:before
{
    padding-right: 10px;
}

#file_browser {
    padding-top: 15px;
    padding-right: 15px;
}

#files_viewport_header {
    border-bottom: 1px solid;
}

#name_header {
    border-right: 1px solid;
}

#size_header {
    border-left: 1px solid;
}

.viewport_item {
    visibility: collapse;
}

#file-viewport {
    border-left: 1px;
}

#preview-col {
    border-left: 1px solid;
    border-color: lightgrey;
    height: 600px;
    overflow: auto;
}

#files {
    height: 100%;
}