#app-content-wrapper #app-content {
    height: 100%;
}

#inner-app-content {
    height: 100%;
    overflow: auto;
}

.dataTables_wrapper {
    margin-top: 20px;
}

table.dataTable > thead .sorting:before, table.dataTable > thead .sorting_asc:before, table.dataTable > thead .sorting_desc:before, table.dataTable > thead .sorting_asc_disabled:before, table.dataTable > thead .sorting_desc_disabled:before {
    right: 1em;
    content: "";
}

table.dataTable > thead .sorting:after, table.dataTable > thead .sorting_asc:after, table.dataTable > thead .sorting_desc:after, table.dataTable > thead .sorting_asc_disabled:after, table.dataTable > thead .sorting_desc_disabled:after {
    right: 1em;
    content: "";
}

#inner-app-content .tab-content {
    padding-bottom: 50px;
}