#spatial-attributes-template {
    display: none;
}

#spatial-attributes form {
    max-height: 300px;
    overflow-y: auto;
}

#spatial-attributes form label {
    margin-top: 10px;
}

#spatial-attributes form .form-group {
    margin: 0;
}

#spatial-attributes .spatial-attributes-error {
    margin: 0;
}

#spatial-attributes .btn {
    margin-top: 10px;
}

.ol-popup-content {
    max-height: 400px;
}

/* .select2-close-mask{
    z-index: 2099;
}
.select2-dropdown{
    z-index: 3051;
} */

/* .select2-container {
    z-index: 99999;
} */

/* body .select2-container {
    z-index: 9999 !important;
} */