.results-tabs {
    position: absolute;
    bottom: 50px;
    left: 0;
    z-index: 1000;
    width: 100%;
}

.results-tabs .nav.nav-tabs {
    width: 100%;
    height: 37px;
    border: none;
    border-top: 1px solid #666666;
    background: #BBBBBB;
    overflow-x: scroll;
}

.results-tabs .nav.nav-tabs>li {
    margin-top: -1px;
}

.results-tabs .nav.nav-tabs>li>a {
    color: #1f1f1f;
    border: 1px solid transparent;
    border-radius: 0 0 4px 4px;
    text-decoration: none;
}

.results-tabs .nav.nav-tabs>li>a:hover  {
    background: transparent;
    border: 1px solid transparent;
}

.results-tabs .nav.nav-tabs>li>a.active {
    border-color: #666666;
    background-color: #FFFFFF;
    border-top-color: #FFFFFF;
    font-weight: bold;
}

.results-tabs .nav.nav-tabs:first-child {
    padding-left: 5px;
}