.results-tabs {
    position: absolute;
    bottom: 51px;
    left: 0;
    z-index: 1500;
    width: 100%;
}

.results-tabs .nav.nav-tabs {
    width: 100%;
    border: none;
}

.results-tabs .nav.nav-tabs>li>a {
    background: #BBBBBB;
    color: #666666;
    border: none;
}

.results-tabs .nav.nav-tabs>li.active>a,
.results-tabs .nav.nav-tabs>li>a:hover {
    background: #41A6F4;
    color: #FFFFFF;
}

.results-tabs .nav.nav-tabs:first-child {
    padding-left: 10px;
}