{% extends "atcore/base.html" %}
{% load tethys_gizmos staticfiles %}

{% block import_gizmos %}
  {% import_gizmo_dependency select_input %}
  <script src="https://cdn.plot.ly/plotly-1.41.3.min.js"></script>
{% endblock %}

{% block app_navigation_items %}
  {# NAV HEADER #}
  {% include 'atcore/components/nav_header.html' %}

  {# TABS #}
  <div class="map-tabs">
    <!-- Nav tabs -->
    {% block map_tabs %}
      <ul class="nav nav-tabs atcore-nav-tabs" role="tablist">
        {# LAYERS TAB #}
        <li role="presentation" {% block disable_default_tab %}class="active"{% endblock %}>
          <a id="layers-tab-toggle"
             href="#layers-tab-panel"
             aria-controls="layers-tab-panel"
             aria-selected="true"
             role="tab"
             data-toggle="tab">Layers</a>
        </li>
        {# LEGEND TAB #}
        {% block legend_tab %}
        <li role="presentation" {% block disable_legend_tab %}{% endblock %}>
          <a id="legend-tab-toggle"
             href="#legend-tab-panel"
             aria-controls="legend-tab-panel"
             aria-selected="false"
             role="tab"
             data-toggle="tab">Legend</a>
        </li>
        {% endblock %}

        {# CUSTOM TABS #}
        {% block custom_map_tabs %}
        {% endblock %}
      </ul>
    {% endblock %}

    {# TAB PANELS #}
    {% block map_tab_panels %}
      <div class="tab-content">
        {# LAYERS TAB PANEL #}
        <div role="tabpanel" class="tab-pane{% block disable_default_tab_panel %} active{% endblock %}" id="layers-tab-panel">
          {% for layer_group in layer_groups %}
          <li class="layer-group-item">

            {# LAYER GROUP VISIBILITY CONTROL #}
            <label class="flatmark"><span class="display-name">{{ layer_group.display_name }}</span>
              <input type="checkbox"
                     class="layer-group-visibility-control"
                     {% if layer_group.visible %}checked="checked"{% endif %}
                     data-layer-group-id="{{ layer_group.id }}">
              <span class="checkmark checkbox"></span>
            </label>

            {# LAYER GROUP CONTEXT MENU #}
            {% if show_public_toggle or show_remove or show_rename %}
              <div class="dropdown layers-context-menu pull-right">
                <a id="{{ layer_group.id }}--context-menu"
                   class="btn btn-xs dropdown-toggle layers-btn"
                   data-toggle="dropdown" aria-haspopup="true"
                   aria-expanded="true">
                  <span class="glyphicon glyphicon-option-vertical"></span>
                </a>
                <ul class="dropdown-menu dropdown-menu-right" aria-labeledby="{{ layer_group.id }}--context-menu">
                  {% if show_rename %}
                    <li><a class="rename-action" href="javascript:void(0);"><span class="glyphicon glyphicon-pencil"></span><span class="command-name">Rename</span></a></li>
                  {% endif %}
                  {% if show_remove %}
                  <li><a class="remove-action" href="javascript:void(0);" data-remove-type="layer" data-layer-name="{{ layer.data.layer_name }}"><span class="glyphicon glyphicon-remove"></span><span class="command-name">Remove</span></a></li>
                  {% endif %}
                  {% if show_public_toggle %}
                    <div class="form-group">
                        <input class="form-control bootstrap-switch layer-dropdown-toggle" type="checkbox" data-size="small" data-on-text="Public"
                            data-off-text="Private" data-on-color='success' data-off-color='danger'
                            {{ layer_group.toggle_status }}>
                    </div>
                  {% endif %}
                  {% comment %}
                  {# TODO: Implement add layer action #}
                  <li role="separator" class="divider"></li>
                  <li><a class="add-layer-to-layer-group" href="javascript:void(0);"><span class="glyphicon glyphicon-plus"></span><span class="command-name">Add Layer</span></a></li>
                  {% endcomment %}
                </ul>
              </div>
            {% endif %}
            <a id="{{ layer_group.id }}--collapse"
               class="collapse-action btn btn-xs layers-btn pull-right"
               data-collapsed="false">
              <span class="glyphicon glyphicon-chevron-down"></span>
            </a>
          </li>

          <ul class="layer-list" data-collapsed="false">
            {% for layer in layer_group.layers %}
            <li class="layer-list-item">
              {# LAYER VISIBILITY CONTROL #}
              <label class="flatmark"><span class="display-name">{{ layer.legend_title }}</span>
                <input type="{{ layer_group.control }}"
                       class="layer-visibility-control"
                       {% if layer.layer_options.visible %}checked="checked"{% endif %}
                       {% if not layer_group.visible %}disabled{% endif %}
                       data-layer-name="{{ layer.data.layer_name }}"
                       data-layer-variable="{{ layer.data.layer_variable }}"
                       name="{{ layer_group.id }}">
                <span class="checkmark {{ layer_group.control }}"></span>
              </label>

              {# LAYER CONTEXT MENU #}
              <div class="dropdown layers-context-menu pull-right">
                <a id="{{ layer.data.layer_name }}--context-menu"
                   class="btn btn-xs dropdown-toggle layers-btn {% if not layer_group.visible %}disabled{% endif %}"
                   data-toggle="dropdown"
                   aria-haspopup="true"
                   aria-expanded="true">
                  <span class="glyphicon glyphicon-option-vertical"></span>
                </a>
                <ul class="dropdown-menu dropdown-menu-right" aria-labeledby="{{ layer.data.layer_name }}--context-menu">
                  {% if show_rename %}
                    <li><a class="rename-action" href="javascript:void(0);"><span class="glyphicon glyphicon-pencil"></span><span class="command-name">Rename</span></a></li>
                  {% endif %}
                  {% if show_remove %}
                  <li><a class="remove-action" href="javascript:void(0);" data-remove-type="layer" data-layer-name="{{ layer.data.layer_name }}"><span class="glyphicon glyphicon-remove"></span><span class="command-name">Remove</span></a></li>
                  {% endif %}
                  {% if show_public_toggle %}
                    <div class="form-group">
                        <input class="form-control bootstrap-switch layer-dropdown-toggle" type="checkbox" data-size="small" data-on-text="Public"
                            data-off-text="Private" data-on-color='success' data-off-color='danger'
                            {{ layer.data.toggle_status }}>
                    </div>
                  {% endif %}
                  {% if show_public_toggle or show_remove or show_rename %}
                    <li role="separator" class="divider"></li>
                  {% endif %}
                  <li><a class="zoom-to-layer-action" href="javascript:void(0);" data-layer-name="{{ layer.data.layer_name }}"><span class="glyphicon glyphicon-fullscreen"></span><span class="command-name">Zoom to Layer</span></a></li>
                  {% comment %}
                  {# TODO: Implement download layer action #}
                  <li role="separator" class="divider"></li>
                  <li><a class="download-layer" href="javascript:void(0);"><span class="glyphicon glyphicon-cloud-download"></span><span class="command-name">Download</span></a></li>
                  {% endcomment %}
                  <li role="separator" class="divider"></li>
                  <li>
                    <div class="flat-slider-container">
                      <label><span class="glyphicon glyphicon-adjust"></span><span class="command-name">Opacity: </span><span class="slider-value">100%</span></label>
                      <input type="range"
                             class="flat-slider layer-opacity-control"
                             min="0" max="100"
                             value="100"
                             data-layer-name="{{ layer.data.layer_name }}"
                             data-layer-variable="{{ layer.data.variable }}">
                    </div>
                  </li>
                </ul>
              </div>
            </li>
            {% endfor %}
          </ul>
          {% endfor %}
        </div>

        {# LEGEND TAB PANEL #}
        {% block legend_panel %}
        <div role="tabpanel" class="tab-pane{% block disable_legend_tab_panel %}{% endblock %}" id="legend-tab-panel">
          {% block legend_items %}
          {% for layer, layer_info in legend.items %}
            <div id="legend-{{ layer }}" class="hidden">
                <li class="legend-group-item">
                  <label class="flatmark"><span class="display-name">{{ layer }}</span>
                  </label>
                </li>
                <ul class="legend-list" data-collapsed="false">
                  {% for value, color in layer_info.items  %}
                    <div class="legend-item">
                      <li class="legend-list-item">
                        <p>{{ value }} </p>
                        <div class="color-box" style="background-color: {{ color }};"></div>
                      </li>
                    </div>
                  {% endfor %}
                </ul>
            </div>
          {% endfor %}
          {% endblock %}
        </div>
        {% endblock %}

        {# CUSTOM TAB PANELS #}
        {% block custom_map_tab_panels %}
        {% endblock %}
      </div>
    {% endblock %}
  </div>
{% endblock %}

{% block app_content %}
  {# ADDRESS SEARCH/GEOCODE #}
  {% if can_use_geocode %}
  <div id="map-geocode-wrapper">
    <div class="row">
      <div class="col-sm-12">
        <div class="input-group">
          <select name="geocode_select" id="geocode_select" class="geocode-search" multiple></select>
          <span class="input-group-addon"><span class="glyphicon glyphicon-search"></span></span>
        </div>
      </div>
    </div>
  </div>
  {% endif %}

  {# MAP #}
  {% block map %}
    {% gizmo map_view %}
  {% endblock %}

  {# MAP ATTRIBUTES #}
  <div id="atcore-map-attributes"
       data-layer-groups="{{ layer_groups|jsonify }}"
       data-map-extent="{{ map_extent|jsonify }}"
       data-workspace="{{ workspace }}"
       data-enable-properties-popup="{% if enable_properties_popup %}true{% else %}false{% endif %}"
       style="display: none;"
  ></div>
  <div id="atcore-map-permissions"
       data-can-use-geocode="{{ can_use_geocode|jsonify }}"
       data-can-use-plot="{{ can_use_plot|jsonify }}"
       style="display: none;"
       ></div>

  {% if can_use_plot %}
    {# PLOT SLIDE SHEET #}
    {% gizmo plot_slide_sheet %}
  {% endif %}

  {% csrf_token %}
{% endblock %}

{% block app_actions %}
{% endblock %}

{% block after_app_content %}
  {# Action Modal #}
  <div class="modal fade" id="action-modal" tabindex="-1" role="dialog" aria-labelledby="action-modal-title">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
          <h4 class="modal-title" id="action-modal-title">Action</h4>
        </div>
        <div class="modal-body" id="action-modal-content">
          Action content
        </div>
        <div class="modal-footer">
          <button id="cancel-action-button" type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
          <a id="do-action-button" class="btn" href="javascript:void(0);">Action</a>
        </div>
      </div>
    </div>
  </div>

  {# Properties Pop-up #}
  <div id="properties-popup" class="ol-popup">
    <a href="javascript:void(0);" id="properties-popup-close-btn" class="ol-popup-close-btn">&times;</a>
    <div id="properties-popup-content" class="ol-popup-content"></div>
  </div>
{% endblock %}

{% block content_dependent_styles %}
  {{ block.super }}
  <link href="{% static 'atcore/css/wide_nav.css' %}" rel="stylesheet"/>
  <link href="{% static 'atcore/css/nav_header.css' %}" rel="stylesheet"/>
  <link href="{% static 'atcore/css/nav_tabs.css' %}" rel="stylesheet"/>
  <link href="{% static 'atcore/map_view/flat_map.css' %}" rel="stylesheet"/>
  <link href="{% static 'atcore/map_view/atcore_map_view.css' %}" rel="stylesheet"/>
  <link href="{% static 'atcore/map_view/geocoder.css' %}" rel="stylesheet"/>
  <link href="{% static 'atcore/css/messages.css' %}" rel="stylesheet"/>
  <link href="{% static 'atcore/css/flatmark.css' %}" rel="stylesheet"/>
  <link href="{% static 'atcore/css/flat-slider.css' %}" rel="stylesheet"/>
{% endblock %}

{% block scripts %}
  {{ block.super }}
  <script src="{% static 'atcore/js/utilities.js' %}" type="text/javascript"></script>
  <script src="{% static 'atcore/js/collapse.js' %}" type="text/javascript"></script>
  <script src="{% static 'atcore/js/csrf.js' %}" type="text/javascript"></script>
  {% if is_in_debug %}
  <script src="{% static 'atcore/map_view/atcore_map_view.js' %}" type="text/javascript"></script>
  {% else %}
  <script src="{% static 'atcore/map_view/atcore_map_view.min.js' %}" type="text/javascript"></script>
  {% endif %}
{% endblock %}